<h1>Game #{{iSelectedGame}}</h1>
<div ng-show="bGameMenu">
	<a href="#/home"><button class="col-xs-12">Back to games</button></a>
	<button class="col-xs-12" ng-bind="sPlayersStatus" ng-click="viewPlayersStatus()"></button>
	<button class="col-xs-12" ng-bind="sRecMessage" ng-click="viewRecMessage()"></button>
	<button class="col-xs-12" ng-bind="sSenMessage" ng-click="viewSenMessage()"></button>
</div>
<div ng-hide="bGameMenu">
	<button class="col-xs-12" ng-click="viewGameMenu()">Back</button>
	<div ng-show="bPlayersStatus">
		<table>
			<tr>
				<th ng-if="!bShowNames">Status</th>
				<th>Name</th>
			</tr>
			<tr ng-repeat="oPlayerStatus in aoPlayerStatus">
				<td ng-if="!bShowNames" ng-bind="oPlayerStatus.status"></td>
				<td ng-if="bShowNames || (oPlayerStatus.name | uppercase) == 'YOU'" ng-bind="oPlayerStatus.name"></td>
				<td ng-if="!bShowNames && (oPlayerStatus.name | uppercase) != 'YOU'">?</td>
			</tr>
		</table>
		<a ng-if="!bShowNames" ng-click="viewPlayerNames()">View all players</a>
		<a ng-if="bShowNames" ng-click="hidePlayerNames()">Hide all players</a>
	</div>		
	<div ng-show="bSenMessage">
		<h2>Sent Message</h2>
		<input type="color" ng-model="sDrawingColor"></input>
		<input type="range" ng-model="iLineWidth"></input>
		<canvas width="200" height="200" drawing></canvas>	
		<button ng-click="clearDrawing()">Clear</button>
		<button ng-click="sendDrawing()">Clear</button>
	</div>
	<div ng-show="bRecMessage">
		<h2>Received Message</h2>
	</div>
</div>