<h1>Game #{{iSelectedGame}}</h1>
<div ng-show="bGameMenu">
	<button class="col-xs-12" ng-bind="sPlayersStatus" ng-click="viewPlayersStatus()"></button>
	<button class="col-xs-12" ng-bind="sRecMessage" ng-click="viewRecMessage()"></button>
	<button class="col-xs-12" ng-bind="sSenMessage" ng-click="viewSenMessage()"></button>
</div>
<div ng-hide="bGameMenu">
	<div ng-show="bPlayersStatus">
		Player statuses
	</div>		
	<div ng-show="bSenMessage">
		sent message
	</div>
	<div ng-show="bRecMessage">
		received messages
	</div>
	<button class="col-xs-12" ng-click="viewGameMenu()">Back</button>
</div>