<h1>Game #{{iSelectedGame}}</h1>
<div ng-show="bGameMenu">
	<a href="#/home"><button class="col-xs-12">Back to games</button></a>
	<button class="col-xs-12" ng-bind="sPlayersStatus" ng-click="viewPlayersStatus()"></button>
	<button class="col-xs-12" ng-bind="sRecMessage" ng-click="viewRecMessage()"></button>
	<button class="col-xs-12" ng-bind="sSenMessage" ng-click="viewSenMessage()"></button>
</div>
<div ng-hide="bGameMenu">
	<button class="col-xs-12" ng-click="viewGameMenu()">Back</button>
	<div ng-show="bPlayersStatus">
		<table>
			<tr>
				<th>Status</th>
				<th>Name</th>
			</tr>
			<tr ng-repeat="oPlayerStatus in aoPlayerStatus">
				<td ng-bind="oPlayerStatus.status"></td>
				<td ng-if="(oPlayerStatus.name | uppercase) != 'YOU'">?</td>
				<td ng-if="(oPlayerStatus.name | uppercase) == 'YOU'" ng-bind="oPlayerStatus.name"></td>
			</tr>
		</table>
		<a ng-click="viewPlayers()">View all players</a>
	</div>		
	<div ng-show="bSenMessage">
		sent message
	</div>
	<div ng-show="bRecMessage">
		received messages
	</div>
</div>
