<div class="row">
	<div class="col-xs-offset-4 col-xs-4 center">
		<fb:login-button data-size="xlarge" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
	</div>
	<input class="col-xs-offset-4 col-xs-4 center" type="text" ng-model="username" placeholder="username"/>
	<input class="col-xs-offset-4 col-xs-4 center" type="password" ng-model="password" placeholder="password"/>
	<button class="col-xs-offset-4 col-xs-2 center" type="button" ng-click="manualLogin()">Log In</button>
	<button class="col-xs-2 center" type="button" ng-click="register()">Register</button>
	<p class="col-xs-offset-4 col-xs-4 center" ng-bind="loginStatus"></p>
</div>